/* ESTILOS DEL MAIN */

.main-container {
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
	margin-top: 14rem;
}

.main__single-mode,
.main__advanced-mode {
	text-align: center;
}

// #### simple.html

.container-simple {
	width: 60%;
	margin-inline: auto;
	margin-top: 50px;
}

.simple__header {
	border: 2px solid rgb(153, 148, 148);
	border-radius: 15px;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	margin-bottom: 80px;
}
.simple__header-title {
	text-align: center;
}

.simple__header-score {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	width: 120px;
}

.score-title {
	color: blue;
	margin-top: 10px;
	font-size: 1rem;
	font-family: var(--text-font);
}

.score-points {
	color: hsl(229deg, 25%, 31%);
	font-weight: 700;
	font-size: 3rem;
	font-family: var(--text-font);
}

.simple__body,
.simple__body-result,
.advanced__body {
	background-image: url('/assets/images/bg-triangle.svg');
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	text-align: center;
}

.advanced__body {
	background-image: url('/assets/images/bg-pentagon.svg');
	background-size: 80%;
}

.simple__body-result {
	flex-wrap: nowrap;
	gap: 30px;

	// transition: 5s all ease-in-out;
}

.simple__body-icon {
	width: 200px;
	height: 200px;
	background-color: white;
	padding: 20px;
	margin-inline: 20px;
	display: flex;
	align-items: center;
	border-radius: 50%;
	border: 18px solid;
	cursor: pointer;
	box-shadow: 0 10px var(--shadow-color), inset 0 10px rgba(0, 0, 150, 0.1);
}

.simple__body-icon {
	--shadow-color: rgb(251, 246, 247);
	--border-color: rgb(237, 226, 237);
	border-color: var(--border-color);
	&:hover {
		// box-shadow: 0 0 50px 20px var(--shadow-color);
		box-shadow: 0 0 50px 20px var(--shadow-color),
			inset 0 10px rgba(0, 0, 150, 0.1);
		transform: scale(0.9);
		transition: transform 0.2s;
	}
}

.img-icon {
	margin-inline: auto;
	width: 90px;
	pointer-events: none;
}

.paper {
	--border-color: var(--paper);
	--shadow-color: var(--paper-shadow);
}

.scissors {
	--border-color: var(--scissors);
	--shadow-color: var(--scissors-shadow);
}

.rock {
	--border-color: var(--rock);
	--shadow-color: var(--rock-shadow);
}

.game-result-title,
.picked-title {
	color: var(--text-color);
	font-family: var(--text-font);
	font-size: 26px;
}

.play-btn {
	padding: 1rem;
	border-radius: 15px;
	font-size: 1.3rem;
	font-family: var(--text-font);
	font-weight: 700;
	cursor: pointer;
	&:hover {
		color: rgb(192, 64, 64);
	}
}

// #### advanced.html

.lizard {
	--border-color: var(--lizard);
	--shadow-color: var(--lizard-shadow);
}

.spock {
	--border-color: var(--spock);
	--shadow-color: var(--spock-shadow);
}
